pytest>=7
pytest-sugar
# The below are ubuntu-dev-tools's dependencies but unfortunately
# the requirements.txt file is not referred in setup.py so we have
# to list them here
###  SOF `ubuntu-dev-tools` requirements.txt ###
python-debian
python-debianbts
distro-info
httplib2
launchpadlib
requests
setuptools
###  EOF `ubuntu-dev-tools` requirements.txt ###
ubuntu-dev-tools@git+https://git.launchpad.net/ubuntu/+source/ubuntu-dev-tools@applied/ubuntu/focal-updates